{% extends "signup/base.html" %}
{% block title %}Insert title here{% endblock %}
{% block content %}
<h3>Exam Signup</h3>
<form action="{% url 'japanese:signup_submit' %}" method="post">
{% csrf_token %}
<select name="date">
	{% for date in exam_date %} 
		<option value="{{ date.id }}">{{ date.year }}:{{ date.month }}</option>
	{% endfor %}
</select>
<select name="grade">
	{% for ngrade in exam_ngrade %}
		{% if ngrade.grade != "NULL" %}
			<option value="{{ ngrade.id }}">{{ ngrade.grade }}</option>
		{% endif %}
	{% endfor %}
</select>
</br>
<input type="submit" value="Submit" />
</form>
{% endblock %}